services:
  web:
    build: .
    expose:
      - "8000"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
      - static_files:/app/staticfiles
      - ./media:/app/media
    env_file:
      - .env
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - static_files:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web
    restart: unless-stopped

volumes:
  static_files:
