services:
  web:
    build: .
    ports:
      - "8001:8000"
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
      - static_files:/app/staticfiles
      - ./media:/app/media
    env_file:
      - .env
    restart: unless-stopped

volumes:
  static_files:
